default/SFTP.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1783240855533,
    "description" : "",
    "identifier" : "SFTP",
    "lastModifiedTimestamp" : 1783240855533,
    "name" : "SFTP",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "Reads ALL PENDING sftp jobs (no LIMIT) within the 13-min freshness window (SP wait 15m - 2m load buffer). Max Rows Per Flow File=1 emits one FlowFile per job so the whole backlog drains in a single run. Stale requests (>13m, graph run already gave up) are skipped so Bronze is never loaded without a Silver run following; the reaper FAILs them. PARAMS VARIANT flattened via Snowflake colon-extraction.",
        "groupId" : "flow-contents-group",
        "id" : "b1000002-0000-0000-0000-000000000001",
        "name" : "ReadPendingJob",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b4000001-0000-0000-0000-000000000001",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "1-day schedule so it never auto-fires. Woken on demand via PUT /nifi-api/processors/{id}/run-status with state=RUN_ONCE.",
        "groupId" : "flow-contents-group",
        "id" : "b1000001-0000-0000-0000-000000000001",
        "name" : "Trigger_Entry_Point",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "Routes to Success (no_job) when queue is empty, or continues (unmatched) when a job row exists.",
        "groupId" : "flow-contents-group",
        "id" : "b1000003-0000-0000-0000-000000000001",
        "name" : "CheckIfHasJob",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b4000002-0000-0000-0000-000000000001",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "Reads ALL PENDING sftp jobs (no LIMIT) within the 13-min freshness window (SP wait 15m - 2m load buffer). Max Rows Per Flow File=1 emits one FlowFile per job so the whole backlog drains in a single run. Stale requests (>13m, graph run already gave up) are skipped so Bronze is never loaded without a Silver run following; the reaper FAILs them. PARAMS VARIANT flattened via Snowflake colon-extraction.",
        "groupId" : "flow-contents-group",
        "id" : "b1000002-0000-0000-0000-000000000001",
        "name" : "ReadPendingJob",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "Extracts job fields from JSON array row into FlowFile attributes. Uses $[0].XXX because ExecuteSQLRecord outputs a JSON array.",
        "groupId" : "flow-contents-group",
        "id" : "b1000004-0000-0000-0000-000000000001",
        "name" : "ExtractJobParams",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b4000005-0000-0000-0000-000000000001",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "unmatched" ],
      "source" : {
        "comments" : "Routes to Success (no_job) when queue is empty, or continues (unmatched) when a job row exists.",
        "groupId" : "flow-contents-group",
        "id" : "b1000003-0000-0000-0000-000000000001",
        "name" : "CheckIfHasJob",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "Marks job RUNNING so a second trigger does not pick up the same job.",
        "groupId" : "flow-contents-group",
        "id" : "b1000005-0000-0000-0000-000000000001",
        "name" : "MarkRunning",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b4000006-0000-0000-0000-000000000001",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "matched" ],
      "source" : {
        "comments" : "Extracts job fields from JSON array row into FlowFile attributes. Uses $[0].XXX because ExecuteSQLRecord outputs a JSON array.",
        "groupId" : "flow-contents-group",
        "id" : "b1000004-0000-0000-0000-000000000001",
        "name" : "ExtractJobParams",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "Fetches the exact file named in FILENAME from the SFTP server.",
        "groupId" : "flow-contents-group",
        "id" : "b1000006-0000-0000-0000-000000000001",
        "name" : "FetchFromSFTP",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b4000008-0000-0000-0000-000000000001",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "Marks job RUNNING so a second trigger does not pick up the same job.",
        "groupId" : "flow-contents-group",
        "id" : "b1000005-0000-0000-0000-000000000001",
        "name" : "MarkRunning",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "Uploads the fetched file to the Bronze internal stage.",
        "groupId" : "flow-contents-group",
        "id" : "b1000007-0000-0000-0000-000000000001",
        "name" : "StageFile",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b4000010-0000-0000-0000-000000000001",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "Fetches the exact file named in FILENAME from the SFTP server.",
        "groupId" : "flow-contents-group",
        "id" : "b1000006-0000-0000-0000-000000000001",
        "name" : "FetchFromSFTP",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "Marks job FAILED — SP_TRIGGER_OPENFLOW polling loop exits with error.",
        "groupId" : "flow-contents-group",
        "id" : "b1000011-0000-0000-0000-000000000001",
        "name" : "MarkFailed",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b4000011-0000-0000-0000-000000000001",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "comms.failure", "not.found", "permission.denied" ],
      "source" : {
        "comments" : "Fetches the exact file named in FILENAME from the SFTP server.",
        "groupId" : "flow-contents-group",
        "id" : "b1000006-0000-0000-0000-000000000001",
        "name" : "FetchFromSFTP",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "Empties FlowFile content after the file is staged in Snowflake. Downstream uses attributes only, so this keeps the Create/Copy/MarkDone queues tiny under concurrency.",
        "groupId" : "flow-contents-group",
        "id" : "b1000012-0000-0000-0000-000000000001",
        "name" : "DropContentAfterStage",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b4000012-0000-0000-0000-000000000001",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "Uploads the fetched file to the Bronze internal stage.",
        "groupId" : "flow-contents-group",
        "id" : "b1000007-0000-0000-0000-000000000001",
        "name" : "StageFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "Marks job FAILED — SP_TRIGGER_OPENFLOW polling loop exits with error.",
        "groupId" : "flow-contents-group",
        "id" : "b1000011-0000-0000-0000-000000000001",
        "name" : "MarkFailed",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b4000013-0000-0000-0000-000000000001",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "Uploads the fetched file to the Bronze internal stage.",
        "groupId" : "flow-contents-group",
        "id" : "b1000007-0000-0000-0000-000000000001",
        "name" : "StageFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "Runs the transform COPY built by CreateBronzeTable (adds FILENAME = source file name when the source doesn't already provide one).",
        "groupId" : "flow-contents-group",
        "id" : "b1000009-0000-0000-0000-000000000001",
        "name" : "CopyIntoBronze",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b4000014-0000-0000-0000-000000000001",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "Replaces Bronze table each run (truncate+load). Reads header, creates all-VARCHAR columns + a FILENAME lineage column (only if the CSV doesn't already have one), and builds the matching transform COPY (METADATA$FILENAME -> FILENAME) into BRONZE_COPY_SQL.",
        "groupId" : "flow-contents-group",
        "id" : "b1000008-0000-0000-0000-000000000001",
        "name" : "CreateBronzeTable",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "Marks job FAILED — SP_TRIGGER_OPENFLOW polling loop exits with error.",
        "groupId" : "flow-contents-group",
        "id" : "b1000011-0000-0000-0000-000000000001",
        "name" : "MarkFailed",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b4000015-0000-0000-0000-000000000001",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "Replaces Bronze table each run (truncate+load). Reads header, creates all-VARCHAR columns + a FILENAME lineage column (only if the CSV doesn't already have one), and builds the matching transform COPY (METADATA$FILENAME -> FILENAME) into BRONZE_COPY_SQL.",
        "groupId" : "flow-contents-group",
        "id" : "b1000008-0000-0000-0000-000000000001",
        "name" : "CreateBronzeTable",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "Marks job DONE — SP_TRIGGER_OPENFLOW polling loop exits with OK.",
        "groupId" : "flow-contents-group",
        "id" : "b1000010-0000-0000-0000-000000000001",
        "name" : "MarkDone",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b4000016-0000-0000-0000-000000000001",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "Runs the transform COPY built by CreateBronzeTable (adds FILENAME = source file name when the source doesn't already provide one).",
        "groupId" : "flow-contents-group",
        "id" : "b1000009-0000-0000-0000-000000000001",
        "name" : "CopyIntoBronze",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "Marks job FAILED — SP_TRIGGER_OPENFLOW polling loop exits with error.",
        "groupId" : "flow-contents-group",
        "id" : "b1000011-0000-0000-0000-000000000001",
        "name" : "MarkFailed",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b4000017-0000-0000-0000-000000000001",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure", "retry" ],
      "source" : {
        "comments" : "Runs the transform COPY built by CreateBronzeTable (adds FILENAME = source file name when the source doesn't already provide one).",
        "groupId" : "flow-contents-group",
        "id" : "b1000009-0000-0000-0000-000000000001",
        "name" : "CopyIntoBronze",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "Replaces Bronze table each run (truncate+load). Reads header, creates all-VARCHAR columns + a FILENAME lineage column (only if the CSV doesn't already have one), and builds the matching transform COPY (METADATA$FILENAME -> FILENAME) into BRONZE_COPY_SQL.",
        "groupId" : "flow-contents-group",
        "id" : "b1000008-0000-0000-0000-000000000001",
        "name" : "CreateBronzeTable",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b4000099-0000-0000-0000-000000000001",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "Empties FlowFile content after the file is staged in Snowflake. Downstream uses attributes only, so this keeps the Create/Copy/MarkDone queues tiny under concurrency.",
        "groupId" : "flow-contents-group",
        "id" : "b1000012-0000-0000-0000-000000000001",
        "name" : "DropContentAfterStage",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-snowflake-connection-service-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2026.6.12.19"
      },
      "comments" : "Shared JDBC connection pool. Parameters come from Queue_SFTP parameter context.",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2026.6.12.19"
        },
        "type" : "org.apache.nifi.dbcp.DBCPService"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b2000001-0000-0000-0000-000000000001",
      "name" : "SnowflakeConnectionService",
      "properties" : {
        "Warehouse" : "#{snowflake_warehouse}",
        "Maximum Connections" : "20",
        "Maximum Lifetime" : "30 minutes",
        "Schema" : "#{snowflake_schema}",
        "Connection Strategy" : "STANDARD",
        "Connection Timeout" : "30 seconds",
        "Role" : "#{snowflake_role}",
        "Idle Timeout" : "10 minutes",
        "Authentication Strategy" : "SNOWFLAKE_MANAGED",
        "Database Name" : "#{snowflake_database}",
        "Network Timeout" : "5 minutes"
      },
      "propertyDescriptors" : {
        "Account" : {
          "displayName" : "Account",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Account",
          "sensitive" : false
        },
        "Warehouse" : {
          "displayName" : "Warehouse",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Warehouse",
          "sensitive" : false
        },
        "User" : {
          "displayName" : "User",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "User",
          "sensitive" : false
        },
        "Maximum Connections" : {
          "displayName" : "Maximum Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Connections",
          "sensitive" : false
        },
        "Maximum Lifetime" : {
          "displayName" : "Maximum Lifetime",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Lifetime",
          "sensitive" : false
        },
        "Schema" : {
          "displayName" : "Schema",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema",
          "sensitive" : false
        },
        "Private Key Service" : {
          "displayName" : "Private Key Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Private Key Service",
          "sensitive" : false
        },
        "Connection Strategy" : {
          "displayName" : "Connection Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Connection Strategy",
          "sensitive" : false
        },
        "Connection Timeout" : {
          "displayName" : "Connection Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Connection Timeout",
          "sensitive" : false
        },
        "Role" : {
          "displayName" : "Role",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Role",
          "sensitive" : false
        },
        "Idle Timeout" : {
          "displayName" : "Idle Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Idle Timeout",
          "sensitive" : false
        },
        "Authentication Strategy" : {
          "displayName" : "Authentication Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Authentication Strategy",
          "sensitive" : false
        },
        "Database Name" : {
          "displayName" : "Database Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Name",
          "sensitive" : false
        },
        "Network Timeout" : {
          "displayName" : "Network Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Network Timeout",
          "sensitive" : false
        },
        "Password" : {
          "displayName" : "Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : true
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "com.snowflake.openflow.runtime.services.snowflake.SnowflakeConnectionService"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.6.12.19"
      },
      "comments" : "Writes ExecuteSQLRecord output as JSON array.",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2026.6.12.19"
        },
        "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b2000002-0000-0000-0000-000000000001",
      "name" : "JsonRecordSetWriter",
      "properties" : {
        "Schema Text" : "${avro.schema}",
        "Allow Scientific Notation" : "true",
        "Compression Level" : "1",
        "Output Grouping" : "output-array",
        "Schema Access Strategy" : "inherit-record-schema",
        "Schema Name" : "${schema.name}",
        "Pretty Print JSON" : "false",
        "Suppress Null Values" : "never-suppress",
        "Schema Write Strategy" : "no-schema",
        "Serialized JSON Input Handling" : "ENABLED",
        "Compression Format" : "none"
      },
      "propertyDescriptors" : {
        "Schema Branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Branch",
          "sensitive" : false
        },
        "Schema Reference Reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Reference Reader",
          "sensitive" : false
        },
        "Schema Text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Text",
          "sensitive" : false
        },
        "Allow Scientific Notation" : {
          "displayName" : "Allow Scientific Notation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow Scientific Notation",
          "sensitive" : false
        },
        "Compression Level" : {
          "displayName" : "Compression Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Compression Level",
          "sensitive" : false
        },
        "Output Grouping" : {
          "displayName" : "Output Grouping",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output Grouping",
          "sensitive" : false
        },
        "Schema Registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Registry",
          "sensitive" : false
        },
        "Schema Access Strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Access Strategy",
          "sensitive" : false
        },
        "Schema Name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Name",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "Pretty Print JSON" : {
          "displayName" : "Pretty Print JSON",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pretty Print JSON",
          "sensitive" : false
        },
        "Suppress Null Values" : {
          "displayName" : "Suppress Null Values",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Suppress Null Values",
          "sensitive" : false
        },
        "Schema Write Strategy" : {
          "displayName" : "Schema Write Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Write Strategy",
          "sensitive" : false
        },
        "Serialized JSON Input Handling" : {
          "displayName" : "Serialized JSON Input Handling",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Serialized JSON Input Handling",
          "sensitive" : false
        },
        "Compression Format" : {
          "displayName" : "Compression Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Compression Format",
          "sensitive" : false
        },
        "Schema Cache" : {
          "displayName" : "Schema Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Cache",
          "sensitive" : false
        },
        "Schema Version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Version",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "Schema Reference Writer" : {
          "displayName" : "Schema Reference Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Reference Writer",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.json.JsonRecordSetWriter"
    } ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "sftp_queue_triggered",
    "outputPorts" : [ ],
    "parameterContextName" : "Queue_SFTP",
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.6.12.19"
      },
      "comments" : "1-day schedule so it never auto-fires. Woken on demand via PUT /nifi-api/processors/{id}/run-status with state=RUN_ONCE.",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b1000001-0000-0000-0000-000000000001",
      "maxBackoffPeriod" : "10 mins",
      "name" : "Trigger_Entry_Point",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 300.0,
        "y" : -200.0
      },
      "properties" : {
        "File Size" : "0B",
        "Batch Size" : "1",
        "Unique FlowFiles" : "false",
        "Character Set" : "UTF-8",
        "Data Format" : "Text"
      },
      "propertyDescriptors" : {
        "File Size" : {
          "displayName" : "File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Size",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Unique FlowFiles" : {
          "displayName" : "Unique FlowFiles",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Unique FlowFiles",
          "sensitive" : false
        },
        "Mime Type" : {
          "displayName" : "Mime Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Mime Type",
          "sensitive" : false
        },
        "Custom Text" : {
          "displayName" : "Custom Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Custom Text",
          "sensitive" : false
        },
        "Character Set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Character Set",
          "sensitive" : false
        },
        "Data Format" : {
          "displayName" : "Data Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Data Format",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 0,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "1 min",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.6.12.19"
      },
      "comments" : "Reads ALL PENDING sftp jobs (no LIMIT) within the 13-min freshness window (SP wait 15m - 2m load buffer). Max Rows Per Flow File=1 emits one FlowFile per job so the whole backlog drains in a single run. Stale requests (>13m, graph run already gave up) are skipped so Bronze is never loaded without a Silver run following; the reaper FAILs them. PARAMS VARIANT flattened via Snowflake colon-extraction.",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b1000002-0000-0000-0000-000000000001",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ReadPendingJob",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 300.0,
        "y" : 0.0
      },
      "properties" : {
        "Set Auto Commit" : "true",
        "Max Wait Time" : "30 seconds",
        "SQL Query" : "SELECT JOB_ID, SOURCE_ID, SOURCE_TYPE, TARGET_DATABASE, TARGET_SCHEMA, TARGET_TABLE,\n       PARAMS:sftp_host::VARCHAR     AS SFTP_HOST,\n       PARAMS:sftp_port::VARCHAR     AS SFTP_PORT,\n       PARAMS:sftp_username::VARCHAR AS SFTP_USERNAME,\n       PARAMS:sftp_password::VARCHAR AS SFTP_PASSWORD,\n       PARAMS:remote_path::VARCHAR   AS REMOTE_PATH,\n       PARAMS:filename::VARCHAR      AS FILENAME,\n       PARAMS:stage::VARCHAR         AS TARGET_STAGE\nFROM MEDALLION_DW.CONTROL.INGEST_QUEUE\nWHERE STATUS = 'PENDING' AND SOURCE_TYPE = 'sftp'\n  AND CREATED_AT > DATEADD(minute, -13, SYSDATE())\nORDER BY CREATED_AT",
        "Normalize Table/Column Names" : "false",
        "Database Connection Pooling Service" : "b2000001-0000-0000-0000-000000000001",
        "Default Decimal Scale" : "0",
        "Fetch Size" : "0",
        "Output Batch Size" : "0",
        "Use Avro Logical Types" : "false",
        "Record Writer" : "b2000002-0000-0000-0000-000000000001",
        "Default Decimal Precision" : "10",
        "Max Rows Per FlowFile" : "1"
      },
      "propertyDescriptors" : {
        "Set Auto Commit" : {
          "displayName" : "Set Auto Commit",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Set Auto Commit",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "SQL Query" : {
          "displayName" : "SQL Query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SQL Query",
          "sensitive" : false
        },
        "Normalize Table/Column Names" : {
          "displayName" : "Normalize Table/Column Names",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Normalize Table/Column Names",
          "sensitive" : false
        },
        "Database Connection Pooling Service" : {
          "displayName" : "Database Connection Pooling Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Database Connection Pooling Service",
          "sensitive" : false
        },
        "Default Decimal Scale" : {
          "displayName" : "Default Decimal Scale",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Default Decimal Scale",
          "sensitive" : false
        },
        "SQL Post-Query" : {
          "displayName" : "SQL Post-Query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SQL Post-Query",
          "sensitive" : false
        },
        "Fetch Size" : {
          "displayName" : "Fetch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Fetch Size",
          "sensitive" : false
        },
        "Output Batch Size" : {
          "displayName" : "Output Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output Batch Size",
          "sensitive" : false
        },
        "Use Avro Logical Types" : {
          "displayName" : "Use Avro Logical Types",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Use Avro Logical Types",
          "sensitive" : false
        },
        "Record Writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Writer",
          "sensitive" : false
        },
        "SQL Pre-Query" : {
          "displayName" : "SQL Pre-Query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SQL Pre-Query",
          "sensitive" : false
        },
        "Default Decimal Precision" : {
          "displayName" : "Default Decimal Precision",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Default Decimal Precision",
          "sensitive" : false
        },
        "Max Rows Per FlowFile" : {
          "displayName" : "Max Rows Per FlowFile",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Rows Per FlowFile",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 0,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ExecuteSQLRecord",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "no_job" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.6.12.19"
      },
      "comments" : "Routes to Success (no_job) when queue is empty, or continues (unmatched) when a job row exists.",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 3,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b1000003-0000-0000-0000-000000000001",
      "maxBackoffPeriod" : "10 mins",
      "name" : "CheckIfHasJob",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 300.0,
        "y" : 200.0
      },
      "properties" : {
        "no_job" : "${record.count:equals('0')}",
        "Routing Strategy" : "Route to Property name"
      },
      "propertyDescriptors" : {
        "no_job" : {
          "displayName" : "no_job",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "no_job",
          "sensitive" : false
        },
        "Routing Strategy" : {
          "displayName" : "Routing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Routing Strategy",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 0,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "unmatched" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.6.12.19"
      },
      "comments" : "Extracts job fields from JSON array row into FlowFile attributes. Uses $[0].XXX because ExecuteSQLRecord outputs a JSON array.",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 3,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b1000004-0000-0000-0000-000000000001",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ExtractJobParams",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 300.0,
        "y" : 400.0
      },
      "properties" : {
        "SFTP_PORT" : "$[0].SFTP_PORT",
        "Destination" : "flowfile-attribute",
        "JOB_ID" : "$[0].JOB_ID",
        "SOURCE_ID" : "$[0].SOURCE_ID",
        "Max String Length" : "20 MB",
        "SFTP_USERNAME" : "$[0].SFTP_USERNAME",
        "Return Type" : "auto-detect",
        "Null Value Representation" : "empty string",
        "SFTP_PASSWORD" : "$[0].SFTP_PASSWORD",
        "Path Not Found Behavior" : "warn",
        "TARGET_TABLE" : "$[0].TARGET_TABLE",
        "TARGET_DATABASE" : "$[0].TARGET_DATABASE",
        "SOURCE_TYPE" : "$[0].SOURCE_TYPE",
        "REMOTE_PATH" : "$[0].REMOTE_PATH",
        "SFTP_HOST" : "$[0].SFTP_HOST",
        "FILENAME" : "$[0].FILENAME",
        "TARGET_STAGE" : "$[0].TARGET_STAGE",
        "TARGET_SCHEMA" : "$[0].TARGET_SCHEMA"
      },
      "propertyDescriptors" : {
        "SFTP_PORT" : {
          "displayName" : "SFTP_PORT",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "SFTP_PORT",
          "sensitive" : false
        },
        "Destination" : {
          "displayName" : "Destination",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Destination",
          "sensitive" : false
        },
        "JOB_ID" : {
          "displayName" : "JOB_ID",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "JOB_ID",
          "sensitive" : false
        },
        "SOURCE_ID" : {
          "displayName" : "SOURCE_ID",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "SOURCE_ID",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "SFTP_USERNAME" : {
          "displayName" : "SFTP_USERNAME",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "SFTP_USERNAME",
          "sensitive" : false
        },
        "Return Type" : {
          "displayName" : "Return Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Return Type",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "SFTP_PASSWORD" : {
          "displayName" : "SFTP_PASSWORD",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "SFTP_PASSWORD",
          "sensitive" : false
        },
        "Path Not Found Behavior" : {
          "displayName" : "Path Not Found Behavior",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Not Found Behavior",
          "sensitive" : false
        },
        "TARGET_TABLE" : {
          "displayName" : "TARGET_TABLE",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "TARGET_TABLE",
          "sensitive" : false
        },
        "TARGET_DATABASE" : {
          "displayName" : "TARGET_DATABASE",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "TARGET_DATABASE",
          "sensitive" : false
        },
        "SOURCE_TYPE" : {
          "displayName" : "SOURCE_TYPE",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "SOURCE_TYPE",
          "sensitive" : false
        },
        "REMOTE_PATH" : {
          "displayName" : "REMOTE_PATH",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "REMOTE_PATH",
          "sensitive" : false
        },
        "SFTP_HOST" : {
          "displayName" : "SFTP_HOST",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "SFTP_HOST",
          "sensitive" : false
        },
        "FILENAME" : {
          "displayName" : "FILENAME",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "FILENAME",
          "sensitive" : false
        },
        "TARGET_STAGE" : {
          "displayName" : "TARGET_STAGE",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "TARGET_STAGE",
          "sensitive" : false
        },
        "TARGET_SCHEMA" : {
          "displayName" : "TARGET_SCHEMA",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "TARGET_SCHEMA",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 0,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "retry" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.6.12.19"
      },
      "comments" : "Marks job RUNNING so a second trigger does not pick up the same job.",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 3,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b1000005-0000-0000-0000-000000000001",
      "maxBackoffPeriod" : "10 mins",
      "name" : "MarkRunning",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 300.0,
        "y" : 600.0
      },
      "properties" : {
        "SQL Statement" : "UPDATE MEDALLION_DW.CONTROL.INGEST_QUEUE SET STATUS = 'RUNNING' WHERE JOB_ID = '${JOB_ID}'",
        "Support Fragmented Transactions" : "false",
        "Database Session AutoCommit" : "false",
        "Batch Size" : "100",
        "Obtain Generated Keys" : "false",
        "Rollback On Failure" : "false",
        "JDBC Connection Pool" : "b2000001-0000-0000-0000-000000000001"
      },
      "propertyDescriptors" : {
        "SQL Statement" : {
          "displayName" : "SQL Statement",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SQL Statement",
          "sensitive" : false
        },
        "Support Fragmented Transactions" : {
          "displayName" : "Support Fragmented Transactions",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Support Fragmented Transactions",
          "sensitive" : false
        },
        "Database Session AutoCommit" : {
          "displayName" : "Database Session AutoCommit",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Session AutoCommit",
          "sensitive" : false
        },
        "Transaction Timeout" : {
          "displayName" : "Transaction Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Transaction Timeout",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Obtain Generated Keys" : {
          "displayName" : "Obtain Generated Keys",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Obtain Generated Keys",
          "sensitive" : false
        },
        "Rollback On Failure" : {
          "displayName" : "Rollback On Failure",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Rollback On Failure",
          "sensitive" : false
        },
        "JDBC Connection Pool" : {
          "displayName" : "JDBC Connection Pool",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "JDBC Connection Pool",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 3,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PutSQL",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.6.12.19"
      },
      "comments" : "Fetches the exact file named in FILENAME from the SFTP server.",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 3,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b1000006-0000-0000-0000-000000000001",
      "maxBackoffPeriod" : "10 mins",
      "name" : "FetchFromSFTP",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 300.0,
        "y" : 800.0
      },
      "properties" : {
        "Port" : "${SFTP_PORT}",
        "Remote File" : "${REMOTE_PATH}/${FILENAME}",
        "Log Level When File Not Found" : "ERROR",
        "Hostname" : "${SFTP_HOST}",
        "Create Directory" : "false",
        "Use Compression" : "false",
        "Disable Directory Listing" : "false",
        "Send Keep Alive On Timeout" : "true",
        "Completion Strategy" : "None",
        "Connection Timeout" : "30 sec",
        "Data Timeout" : "30 sec",
        "Username" : "${SFTP_USERNAME}",
        "Algorithm Negotiation" : "DEFAULT",
        "Strict Host Key Checking" : "false"
      },
      "propertyDescriptors" : {
        "Port" : {
          "displayName" : "Port",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Port",
          "sensitive" : false
        },
        "Remote File" : {
          "displayName" : "Remote File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Remote File",
          "sensitive" : false
        },
        "Log Level When File Not Found" : {
          "displayName" : "Log Level When File Not Found",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Level When File Not Found",
          "sensitive" : false
        },
        "Hostname" : {
          "displayName" : "Hostname",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Hostname",
          "sensitive" : false
        },
        "Create Directory" : {
          "displayName" : "Create Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Create Directory",
          "sensitive" : false
        },
        "Host Key File" : {
          "displayName" : "Host Key File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Host Key File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE" ]
          },
          "sensitive" : false
        },
        "Use Compression" : {
          "displayName" : "Use Compression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Use Compression",
          "sensitive" : false
        },
        "Ciphers Allowed" : {
          "displayName" : "Ciphers Allowed",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Ciphers Allowed",
          "sensitive" : false
        },
        "Message Authentication Codes Allowed" : {
          "displayName" : "Message Authentication Codes Allowed",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Message Authentication Codes Allowed",
          "sensitive" : false
        },
        "Disable Directory Listing" : {
          "displayName" : "Disable Directory Listing",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Disable Directory Listing",
          "sensitive" : false
        },
        "Send Keep Alive On Timeout" : {
          "displayName" : "Send Keep Alive On Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Send Keep Alive On Timeout",
          "sensitive" : false
        },
        "Completion Strategy" : {
          "displayName" : "Completion Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Completion Strategy",
          "sensitive" : false
        },
        "Private Key Passphrase" : {
          "displayName" : "Private Key Passphrase",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Private Key Passphrase",
          "sensitive" : true
        },
        "Proxy Configuration Service" : {
          "displayName" : "Proxy Configuration Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Proxy Configuration Service",
          "sensitive" : false
        },
        "Connection Timeout" : {
          "displayName" : "Connection Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Connection Timeout",
          "sensitive" : false
        },
        "Data Timeout" : {
          "displayName" : "Data Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Data Timeout",
          "sensitive" : false
        },
        "Private Key Path" : {
          "displayName" : "Private Key Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Private Key Path",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE" ]
          },
          "sensitive" : false
        },
        "Username" : {
          "displayName" : "Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Username",
          "sensitive" : false
        },
        "Move Destination Directory" : {
          "displayName" : "Move Destination Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Move Destination Directory",
          "sensitive" : false
        },
        "Algorithm Negotiation" : {
          "displayName" : "Algorithm Negotiation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Algorithm Negotiation",
          "sensitive" : false
        },
        "Key Exchange Algorithms Allowed" : {
          "displayName" : "Key Exchange Algorithms Allowed",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Key Exchange Algorithms Allowed",
          "sensitive" : false
        },
        "Strict Host Key Checking" : {
          "displayName" : "Strict Host Key Checking",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Strict Host Key Checking",
          "sensitive" : false
        },
        "Key Algorithms Allowed" : {
          "displayName" : "Key Algorithms Allowed",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Key Algorithms Allowed",
          "sensitive" : false
        },
        "Password" : {
          "displayName" : "Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : true
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.FetchSFTP",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-snowflake-processors-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2026.6.12.19"
      },
      "comments" : "Uploads the fetched file to the Bronze internal stage.",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 3,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b1000007-0000-0000-0000-000000000001",
      "maxBackoffPeriod" : "10 mins",
      "name" : "StageFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 300.0,
        "y" : 1000.0
      },
      "properties" : {
        "Compression Enabled" : "false",
        "Schema" : "${TARGET_SCHEMA}",
        "Snowflake Connection Service" : "b2000001-0000-0000-0000-000000000001",
        "Database" : "${TARGET_DATABASE}",
        "Stage" : "${TARGET_STAGE}",
        "File Name" : "${FILENAME}",
        "Internal Stage Type" : "named"
      },
      "propertyDescriptors" : {
        "Compression Enabled" : {
          "displayName" : "Compression Enabled",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Compression Enabled",
          "sensitive" : false
        },
        "Table" : {
          "displayName" : "Table",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Table",
          "sensitive" : false
        },
        "Schema" : {
          "displayName" : "Schema",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema",
          "sensitive" : false
        },
        "Snowflake Connection Service" : {
          "displayName" : "Snowflake Connection Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Snowflake Connection Service",
          "sensitive" : false
        },
        "Database" : {
          "displayName" : "Database",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database",
          "sensitive" : false
        },
        "File Prefix" : {
          "displayName" : "File Prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Prefix",
          "sensitive" : false
        },
        "Stage" : {
          "displayName" : "Stage",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Stage",
          "sensitive" : false
        },
        "File Name" : {
          "displayName" : "File Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Name",
          "sensitive" : false
        },
        "Internal Stage Type" : {
          "displayName" : "Internal Stage Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Internal Stage Type",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.snowflake.PutSnowflakeInternalStageFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-scripting-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.6.12.19"
      },
      "comments" : "Replaces Bronze table each run (truncate+load). Reads header, creates all-VARCHAR columns + a FILENAME lineage column (only if the CSV doesn't already have one), and builds the matching transform COPY (METADATA$FILENAME -> FILENAME) into BRONZE_COPY_SQL.",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 3,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b1000008-0000-0000-0000-000000000001",
      "maxBackoffPeriod" : "10 mins",
      "name" : "CreateBronzeTable",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 300.0,
        "y" : 1200.0
      },
      "properties" : {
        "Script Engine" : "Groovy",
        "Script Body" : "import org.apache.nifi.dbcp.DBCPService\n\ndef flowFile = session.get()\nif (!flowFile) return\n\ndef db     = flowFile.getAttribute('TARGET_DATABASE')\ndef schema = flowFile.getAttribute('TARGET_SCHEMA')\ndef table  = flowFile.getAttribute('TARGET_TABLE')\ndef stage  = flowFile.getAttribute('TARGET_STAGE')\ndef fname  = flowFile.getAttribute('FILENAME')\n\ndef dbcpService = context.getProperty('Database Connection Pooling Service')\n    .asControllerService(DBCPService.class)\n\ndef conn\ntry {\n    conn = dbcpService.getConnection()\n    def headerSql = \"SELECT \\$1 FROM @${db}.${schema}.${stage}/${fname} (FILE_FORMAT => 'MEDALLION_DW.ADMIN.CSV_RAW_FMT') LIMIT 1\"\n    def rs = conn.createStatement().executeQuery(headerSql)\n    if (!rs.next()) throw new RuntimeException('Stage file is empty')\n    def header = rs.getString(1)\n    rs.close()\n    def colNames = header.split(',').collect { it.trim().replaceAll('\"', '') }\n    // Add a FILENAME lineage column ONLY if the CSV header doesn't already have one\n    // (some sources already carry FILENAME; a duplicate column would break CREATE).\n    def hasFilename = colNames.any { it.equalsIgnoreCase('FILENAME') }\n    def colDefs = colNames.collect { '\"' + it + '\" VARCHAR' }\n    if (!hasFilename) colDefs.add('\"FILENAME\" VARCHAR')\n    conn.createStatement().execute(\"CREATE OR REPLACE TABLE ${db}.${schema}.${table} (\" + colDefs.join(', ') + \")\")\n    // matching transform COPY: data cols positional; add METADATA\\$FILENAME -> FILENAME when we added it\n    def n = colNames.size()\n    def selectCols = (1..n).collect { '$' + it }\n    def intoCols = colNames.collect { '\"' + it + '\"' }\n    if (!hasFilename) {\n        selectCols.add('METADATA$FILENAME')\n        intoCols.add('\"FILENAME\"')\n    }\n    def copySql = \"COPY INTO ${db}.${schema}.${table} (\" + intoCols.join(', ') +\n                  \") FROM (SELECT \" + selectCols.join(', ') +\n                  \" FROM @${db}.${schema}.${stage}/${fname} (FILE_FORMAT => 'MEDALLION_DW.ADMIN.CSV_COPY_FMT'))\" +\n                  \" FORCE = TRUE ON_ERROR = ABORT_STATEMENT\"\n    flowFile = session.putAttribute(flowFile, 'BRONZE_COPY_SQL', copySql)\n    session.transfer(flowFile, REL_SUCCESS)\n} catch (e) {\n    log.error('CreateBronzeTable failed', e)\n    flowFile = session.putAttribute(flowFile, 'create.bronze.error', e.getMessage() ?: e.toString())\n    session.transfer(flowFile, REL_FAILURE)\n} finally {\n    conn?.close()\n}",
        "Database Connection Pooling Service" : "b86d06a5-967e-3942-ae77-8a8d3807d3f4"
      },
      "propertyDescriptors" : {
        "Script File" : {
          "displayName" : "Script File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Script File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE" ]
          },
          "sensitive" : false
        },
        "Script Engine" : {
          "displayName" : "Script Engine",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Script Engine",
          "sensitive" : false
        },
        "Script Body" : {
          "displayName" : "Script Body",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Script Body",
          "sensitive" : false
        },
        "Database Connection Pooling Service" : {
          "displayName" : "Database Connection Pooling Service",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "Database Connection Pooling Service",
          "sensitive" : false
        },
        "Module Directory" : {
          "displayName" : "Module Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Module Directory",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "DIRECTORY", "FILE" ]
          },
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 3,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.script.ExecuteScript",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.6.12.19"
      },
      "comments" : "Runs the transform COPY built by CreateBronzeTable (adds FILENAME = source file name when the source doesn't already provide one).",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 3,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b1000009-0000-0000-0000-000000000001",
      "maxBackoffPeriod" : "10 mins",
      "name" : "CopyIntoBronze",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 300.0,
        "y" : 1400.0
      },
      "properties" : {
        "SQL Statement" : "${BRONZE_COPY_SQL}",
        "Support Fragmented Transactions" : "false",
        "Database Session AutoCommit" : "false",
        "Batch Size" : "100",
        "Obtain Generated Keys" : "false",
        "Rollback On Failure" : "false",
        "JDBC Connection Pool" : "b2000001-0000-0000-0000-000000000001"
      },
      "propertyDescriptors" : {
        "SQL Statement" : {
          "displayName" : "SQL Statement",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SQL Statement",
          "sensitive" : false
        },
        "Support Fragmented Transactions" : {
          "displayName" : "Support Fragmented Transactions",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Support Fragmented Transactions",
          "sensitive" : false
        },
        "Database Session AutoCommit" : {
          "displayName" : "Database Session AutoCommit",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Session AutoCommit",
          "sensitive" : false
        },
        "Transaction Timeout" : {
          "displayName" : "Transaction Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Transaction Timeout",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Obtain Generated Keys" : {
          "displayName" : "Obtain Generated Keys",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Obtain Generated Keys",
          "sensitive" : false
        },
        "Rollback On Failure" : {
          "displayName" : "Rollback On Failure",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Rollback On Failure",
          "sensitive" : false
        },
        "JDBC Connection Pool" : {
          "displayName" : "JDBC Connection Pool",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "JDBC Connection Pool",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 3,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PutSQL",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "retry", "success" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.6.12.19"
      },
      "comments" : "Marks job DONE — SP_TRIGGER_OPENFLOW polling loop exits with OK.",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 3,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b1000010-0000-0000-0000-000000000001",
      "maxBackoffPeriod" : "10 mins",
      "name" : "MarkDone",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 300.0,
        "y" : 1600.0
      },
      "properties" : {
        "SQL Statement" : "UPDATE MEDALLION_DW.CONTROL.INGEST_QUEUE SET STATUS = 'DONE', PROCESSED_AT = SYSDATE() WHERE JOB_ID = '${JOB_ID}'",
        "Support Fragmented Transactions" : "false",
        "Database Session AutoCommit" : "false",
        "Batch Size" : "100",
        "Obtain Generated Keys" : "false",
        "Rollback On Failure" : "false",
        "JDBC Connection Pool" : "b2000001-0000-0000-0000-000000000001"
      },
      "propertyDescriptors" : {
        "SQL Statement" : {
          "displayName" : "SQL Statement",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SQL Statement",
          "sensitive" : false
        },
        "Support Fragmented Transactions" : {
          "displayName" : "Support Fragmented Transactions",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Support Fragmented Transactions",
          "sensitive" : false
        },
        "Database Session AutoCommit" : {
          "displayName" : "Database Session AutoCommit",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Session AutoCommit",
          "sensitive" : false
        },
        "Transaction Timeout" : {
          "displayName" : "Transaction Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Transaction Timeout",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Obtain Generated Keys" : {
          "displayName" : "Obtain Generated Keys",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Obtain Generated Keys",
          "sensitive" : false
        },
        "Rollback On Failure" : {
          "displayName" : "Rollback On Failure",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Rollback On Failure",
          "sensitive" : false
        },
        "JDBC Connection Pool" : {
          "displayName" : "JDBC Connection Pool",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "JDBC Connection Pool",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 3,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PutSQL",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "retry", "success" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.6.12.19"
      },
      "comments" : "Marks job FAILED — SP_TRIGGER_OPENFLOW polling loop exits with error.",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 3,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b1000011-0000-0000-0000-000000000001",
      "maxBackoffPeriod" : "10 mins",
      "name" : "MarkFailed",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 750.0,
        "y" : 800.0
      },
      "properties" : {
        "SQL Statement" : "UPDATE MEDALLION_DW.CONTROL.INGEST_QUEUE SET STATUS = 'FAILED', PROCESSED_AT = SYSDATE() WHERE JOB_ID = '${JOB_ID}'",
        "Support Fragmented Transactions" : "false",
        "Database Session AutoCommit" : "false",
        "Batch Size" : "100",
        "Obtain Generated Keys" : "false",
        "Rollback On Failure" : "false",
        "JDBC Connection Pool" : "b2000001-0000-0000-0000-000000000001"
      },
      "propertyDescriptors" : {
        "SQL Statement" : {
          "displayName" : "SQL Statement",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SQL Statement",
          "sensitive" : false
        },
        "Support Fragmented Transactions" : {
          "displayName" : "Support Fragmented Transactions",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Support Fragmented Transactions",
          "sensitive" : false
        },
        "Database Session AutoCommit" : {
          "displayName" : "Database Session AutoCommit",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Session AutoCommit",
          "sensitive" : false
        },
        "Transaction Timeout" : {
          "displayName" : "Transaction Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Transaction Timeout",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Obtain Generated Keys" : {
          "displayName" : "Obtain Generated Keys",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Obtain Generated Keys",
          "sensitive" : false
        },
        "Rollback On Failure" : {
          "displayName" : "Rollback On Failure",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Rollback On Failure",
          "sensitive" : false
        },
        "JDBC Connection Pool" : {
          "displayName" : "JDBC Connection Pool",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "JDBC Connection Pool",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 3,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PutSQL",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2026.6.12.19"
      },
      "comments" : "Empties FlowFile content after the file is staged in Snowflake. Downstream uses attributes only, so this keeps the Create/Copy/MarkDone queues tiny under concurrency.",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 3,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b1000012-0000-0000-0000-000000000001",
      "maxBackoffPeriod" : "10 mins",
      "name" : "DropContentAfterStage",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 1000.0,
        "y" : 900.0
      },
      "properties" : {
        "Start Offset" : "0 B",
        "End Offset" : "0 B",
        "Remove All Content" : "true"
      },
      "propertyDescriptors" : {
        "Start Offset" : {
          "displayName" : "Start Offset",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Start Offset",
          "sensitive" : false
        },
        "End Offset" : {
          "displayName" : "End Offset",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "End Offset",
          "sensitive" : false
        },
        "Remove All Content" : {
          "displayName" : "Remove All Content",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Remove All Content",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 0,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ModifyBytes",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : {
    "Queue_SFTP" : {
      "componentType" : "PARAMETER_CONTEXT",
      "description" : "Snowflake connection parameters for the queue-triggered SFTP flow.",
      "inheritedParameterContexts" : [ ],
      "name" : "Queue_SFTP",
      "parameters" : [ {
        "description" : "Default database for the connection service.",
        "name" : "snowflake_database",
        "provided" : false,
        "sensitive" : false,
        "value" : "MEDALLION_DW"
      }, {
        "description" : "Snowflake role for the connection service.",
        "name" : "snowflake_role",
        "provided" : false,
        "sensitive" : false,
        "value" : "ACCOUNTADMIN"
      }, {
        "description" : "Default schema for the connection service.",
        "name" : "snowflake_schema",
        "provided" : false,
        "sensitive" : false,
        "value" : "BRONZE"
      }, {
        "description" : "Warehouse for COPY and CREATE operations.",
        "name" : "snowflake_warehouse",
        "provided" : false,
        "sensitive" : false,
        "value" : "OPENFLOW"
      }, {
        "description" : "SQL Server database.",
        "name" : "sqlserver_db",
        "provided" : false,
        "sensitive" : false
      }, {
        "description" : "Path to mssql-jdbc driver jar.",
        "name" : "sqlserver_driver_path",
        "provided" : false,
        "sensitive" : false
      }, {
        "description" : "SQL Server host.",
        "name" : "sqlserver_host",
        "provided" : false,
        "sensitive" : false
      }, {
        "description" : "SQL Server password (set in UI).",
        "name" : "sqlserver_password",
        "provided" : false,
        "sensitive" : true
      }, {
        "description" : "SQL Server username.",
        "name" : "sqlserver_username",
        "provided" : false,
        "sensitive" : false
      } ]
    }
  },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "Shorouk Talaat",
    "flowIdentifier" : "SFTP",
    "timestamp" : 1783240856412
  }
}